@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-brand-purple: #6b21a8;
  --color-brand-light: #f3e8ff;
}

.checkbox-custom:checked {
  background-color: var(--color-brand-purple);
  border-color: var(--color-brand-purple);
}
@media (max-width: 839px) {
  .desktop-links,
  .desktop-buttons {
    display: none;
  }
  #mobile-menu-btn {
    display: block;
  }
  #mobile-menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }
}

@media (min-width: 840px) {
  #mobile-menu-btn {
    display: none;
  }
  .desktop-links,
  .desktop-buttons {
    display: flex;
  }
}

